<div class="container">
    <h1>Token: <%= @tinyurl.token %><h1>
    <br>
    <p>Number of visits: <%=@number_of_visits %><p>
    <br>
    <% unless @distinct_ips.empty? %>
        <p>Accessed from <p>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">IP Address</th>
                </tr>
            </thead>
            <tbody>
                <% @distinct_ips.each do |ipVisit| %>
                    <tr>
                        <td><%=ipVisit.ip_address %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    <% end %>
    <br>
    <p>Redirects to: <p>
    <p><%= @tinyurl.url%></p>
    <br>
    <p>Copy this tinyURL: <%= @fulltinyurl %></p>
    <br>
    <p>Or press Go below!</p>
    <br>
    <%= link_to "Go", "/#{@tinyurl.token}", class: 'btn btn-primary' %>
<div>